<section id="galeria" class="galeria">
        <div class="galeria-inner">
            <header class="galeria-header">
                <h2 class="galeria-title">Veja Nossos <span>Serviços em Ação</span></h2>
                <p class="galeria-subtitle">Confira algumas fotos reais dos atendimentos e serviços que realizamos para
                    nossos clientes.</p>
            </header>

            <div class="galeria-grid">
                <img src="/assets/img/servicos (1).webp" alt="Serviços Prestados" loading="lazy" class="item">
                <img src="/assets/img/servicos (2).webp" alt="Serviços Prestados" loading="lazy" class="item">
                <img src="/assets/img/servicos (3).webp" alt="Serviços Prestados" loading="lazy" class="item">
                <img src="/assets/img/servicos (4).webp" alt="Serviços Prestados" loading="lazy" class="item">
                <img src="/assets/img/servicos (5).webp" alt="Serviços Prestados" loading="lazy" class="item">
                <img src="/assets/img/servicos (6).webp" alt="Serviços Prestados" loading="lazy" class="item">
                <img src="/assets/img/servicos (7).webp" alt="Serviços Prestados" loading="lazy" class="item">
                <img src="/assets/img/servicos (8).webp" alt="Serviços Prestados" loading="lazy" class="item">
            </div>

        </div>
    </section>