<section class="hero-section" id="home">

    <div class="tags-hero">
        <span class="glass-tag">
            <span class="material-symbols-outlined">schedule</span>
            Atendimento 24h
        </span>
        <span class="glass-tag location-tag">
            <span class="material-symbols-outlined">location_on</span>
            Taubaté e Região
        </span>

    </div>

    <div class="title-hero">
        <h1>Guincho 24h em <span>Taubaté</span></h1>
        <span>Auto Socorro Pereira</span>
    </div>

    <div class="subtitle-hero">
        Funcionamos 24 horas por dia, 7 dias por semana. Sua emergência não espera e nós também não.

        <span>Chegamos em minutos.</span>
    </div>

    <div class="cta-buttons">
        <a  href="#"(click)="onCallClick()" class="cta-btn call-btn">
            <span class="material-icons">call</span>
            Chamar um Guincho
        </a>
        <a   (click)="onWhatsappClick()" class="cta-btn whatsapp-btn">
            <span class="material-icons"><i class="fa-brands fa-whatsapp"></i></span>
            Fazer Orçamento via WhatsApp
        </a>
    </div>

    <div class="alert">
        <div class="alert-title">
            🚨 Situação de Emergência?
        </div>
        <div class="alert-message">
            Nossa equipe está pronta para atendê-lo a qualquer hora do dia ou da noite. Ligue agora e tenha a
            tranquilidade que você merece!
        </div>
    </div>
</section>