<section class="section review" id="avaliacoes">
    <div class="review-section-title">
        <h2 class="review-title">Avaliações de Quem Já Confia em Nosso Serviço
        </h2>
        <span class="review-message">Confie em quem entende! <span class="review-message-bold">Clientes
                satisfeitos</span> comprovam nossa qualidade e confiabilidade.</span>
    </div>
    <div class="rating-section">
        <div class="rating-stars">★★★★★</div>
        <div class="rating-score">
            <span class="score-value">5</span><span class="score-value-stars"> de 5 estrelas</span>
        </div>
    </div>

    <div class="reviews-container" >
        <div class=" review-card">
        <div class="review-stars">★★★★★</div>
        <p class="review-text">
            "Excelente atendimento, chegou rápido no local onde o carro estava e foi muito atencioso. Recomendo
            demais."
        </p>
        <div class="review-author">
            <div class="author-icon">
                <span class="material-icons">person</span>
            </div>
            <div class="author-info">
                <span class="author-name">Aline</span>
                <span class="author-location">Taubaté</span>
                <span class="author-service">Guincho para carro</span>
            </div>
        </div>
    </div>
    

    <div class="review-card">
        <div class="review-stars">★★★★★</div>
        <p class="review-text">
            "Super atencioso, e rápido no atendimento...
            Super recomendo..."
        </p>
        <div class="review-author">
            <div class="author-icon">
                <span class="material-icons">person</span>
            </div>
            <div class="author-info">
                <span class="author-name">Reginaldo</span>
                <span class="author-location"> Taubaté</span>
                <span class="author-service">Guincho para carro</span>
            </div>
        </div>
    </div>

    <div class="review-card">
        <div class="review-stars">★★★★★</div>
        <p class="review-text">
            "Muito pontual e qualidade e preço muito bom show"
        </p>
        <div class="review-author">
            <div class="author-icon">
                <span class="material-icons">person</span>
            </div>
            <div class="author-info">
                <span class="author-name">Rodrigo</span>
                <span class="author-location">Taubaté</span>
                <span class="author-service">Guincho para carro</span>
            </div>
        </div>
    </div>
    </div>
    <p class="reviews-link">
        Veja mais avaliações no
        <a href="https://maps.app.goo.gl/g7H2EayynyVw6iVM9" target="_blank">Google Reviews</a>
    </p>
    <div class=" section badge-trust">
        <div class="trust-badge">
            <span class="material-symbols-outlined shield">
                verified
            </span>

            <span class="badge-text">Empresa Verificada</span>

        </div>
    </div>
</section>